@media (max-width: 1250px) {
  .nav__list {
    font-size: 18px;
  }

  .nav__item {
    gap: 10px;
  }

  .welcome__img {
    left: 75%;
  }

  .welcome {
    padding-top: 200px;
  }
}

@media (max-width: 1000px) {
  .burger {
    display: block;
  }

  .nav__item {
    display: none;
  }

  .header__address {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .header .container {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }

  .welcome {
    padding-bottom: 0;
    padding-top: 200px;
  }

  .welcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome__block {
    width: 100%;
    max-width: 500px;
    margin: 0;
  }

  .welcome__img {
    position: relative;
    display: block;
    background-position: top;
    height: 600px;
    left: auto;
    bottom: auto;
    transform: none;
  }

  .stages__block {
    flex-direction: column;
    align-items: center;
  }

  .stage__item {
    width: 100%;
  }

  .pricing__item .dotted-div {
    flex-direction: column;
    align-items: center;
  }

  .key__header,
  .pricing__title,
  .pricing__prices,
  .pricing__details {
    width: 100%;
  }

  .blog-preview__grid {
    flex-direction: column;
    align-items: center;
  }

  .blog-preview__item {
    width: 100%;
    max-width: 500px;
  }

  .about__grid {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .advantages__content {
    flex-direction: column;
  }

  .faq__container {
    margin: 0 10px;
  }

  .footer__content {
    flex-direction: column;
  }

  .reviews__iframe {
    width: 100%;
  }

  table.cinereousTable tbody td {
    font-size: 17px;
  }
}

@media (max-width: 550px) {
  .header .container {
    flex-direction: column-reverse;
  }

  .header__nav-list {
    margin: 0 auto;
  }

  .welcome {
    padding-top: 320px;
  }

  .header__link-address {
    font-size: 26px;
  }

  .why__grid,
  .card__block {
    display: flex;
    flex-direction: column;
  }

  .header,
  .services__heading {
    font-size: 26px;
  }

  .dotted-div {
    padding: 20px;
  }

  .header__list {
    font-size: 16px;
  }

  .welcome__img {
    width: 400px;
  }

  .heading {
    font-size: 24px;
  }

  .text {
    font-size: 18px;
  }

  .stage__item .stage__heading {
    padding-right: 75px;
  }

  #toggleButton {
    padding: 15px;
    font-size: 17px;
  }

  .page-welcome {
    padding: 160px 0;
  }

  .stage__item .dotted-div {
    padding-right: 20px;
  }

  .table__btn {
    flex-direction: column;
  }

  .table__btn .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .org__links {
    flex-direction: column;
  }

  .header__link-social svg {
    width: 35px;
    height: 35px;
  }

  .header__link-social {
    height: 35px;
  }

  .btn__question {
    display: none;
  }

  .footer__item {
    display: grid;
    grid-template-columns: 24px 90px 1fr;
  }

  .footer__label {
    text-wrap: wrap;
  }

  .nav__burger {
    padding: 35px;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 10px;
  }

  .name__org {
    align-items: center;
    text-align: center;
  }

  .blog__post_vk {
    width: 100%;
  }

  .promo-modal__dialog .dotted-div {
    padding-top: 30px;
  }

  .about__img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .header__tel-link {
    font-size: 24px;
  }

  .case__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__list {
    padding: 0;
  }
}